[Unit]
Description=Confer vLLM Service
After=local-fs.target mnt-config.mount mnt-models.mount nvidia-persistenced.service nvidia-fabricmanager.service nvidia-cc-attestation.service
Wants=mnt-models.mount
Requires=mnt-config.mount nvidia-fabricmanager.service nvidia-cc-attestation.service
Before=confer-proxy.service

[Service]
Type=simple
User=root
RuntimeDirectory=vllm
WorkingDirectory=/run/vllm
EnvironmentFile=/mnt/config/secrets.env
ExecStartPre=/bin/mkdir -p /tmp/huggingface /tmp/.cache
ExecStart=/usr/local/bin/confer-vllm
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
